.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.image-container {
  /* Set your desired width */
  height: 450px; /* Set your desired height */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* This property ensures the image covers the entire container while maintaining its aspect ratio */
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #333;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}
